<div id="chart_window">
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" (click)="monthlyBalance()">Monthly Balance</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Monthly Spending</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Spending Type</button>
    </div>
  </div>
  <div id="plotlychart"></div>
</div>



