<div *ngIf='rows'>
<ngx-datatable         
  class="bootstrap"       
  [rows]="rows"        
  [columns]="columns"   
  [columnMode]="'flex'" 
  [headerHeight]="50" 
  [footerHeight]="50"  
  [rowHeight]="'auto'"> 
  <ngx-datatable-column name="Debit" [flexGrow]=".5">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Credit" [flexGrow]=".5">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Balance" [flexGrow]=".8">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Date" [flexGrow]=".8">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Description" [flexGrow]="2">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [flexGrow]=".05">
          <ng-template ngx-datatable-cell-template>
          </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Category" [flexGrow]="1.3">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
  </ngx-datatable-column>
</ngx-datatable>         
</div>
